<div class="container mt-5">

  <%= form_with model: enquiry, data: { controller: "flatpickr" },local: true do |f| %>
    <div class="mb-3">
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control", required: true %>
    </div>

    <div class="mb-3">
      <%= f.label :email %>
      <%= f.email_field :email, class: "form-control", required: true %>
    </div>

    <div class="mb-3">
      <%= f.label :phone %>
      <%= f.telephone_field :phone, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= f.label :preferred_date_time, "Preferred Date and Time" %>
      <%= f.datetime_local_field :preferred_date_time, class: "form-control preferred_date_time" %>
    </div>

    <div class="mb-3">
      <%= f.label :message %>
      <%= f.text_area :message, class: "form-control", rows: 4 %>
    </div>

    <%= f.submit "Submit Enquiry", class: "btn btn-danger" %>
  <% end %>
</div>
