<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Fort Nelson Driving School" %></title>

    <meta name="description" content="Fort Nelson Driving School offers professional driving lessons with experienced instructors, flexible schedules, and beginner-friendly training to help you become a safe and confident driver.">
    
    <meta name="keywords" content="Driving School, Fort Nelson Driving School, FN Driving School,Driving Lessons, Beginner Driving Lessons Canada Fort Nelson, Driving Instructor in Canada Fort Nelson, Road Test Preparation Canada Fort Nelson, Safe Driving Training Canada Fort Nelson">
    
    <meta name="author" content="Fort Nelson Driving School">
    
    <meta property="og:title" content="Fort Nelson Driving School">
    <meta property="og:description" content="Professional driving lessons with experienced instructors and flexible schedules.">
    <meta property="og:type" content="website">
    
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Fort Nelson Driving School">
    <meta name="twitter:description" content="Learn to drive with confidence through professional and beginner-friendly lessons.">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  </head>

  <body>
    <%= render "shared/navbar" %>
    <div class="container mt-3 pt-5">
      <% flash.each do |type, message| %>
        <div class="alert alert-<%= type == "success" ? "success" : "danger" %> alert-dismissible fade show" role="alert">
          <%= message %>
          <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
